{% extends "layout.html" %}

{% block content %}
<table class="ui celled table">
  <thead>
    <tr><th>Наименование</th>
    <th>Количество</th>
    <th>Покупка</th>
  </tr></thead>
  <tbody>
    <tr>
      <td data-label="Name">Яблоки</td>
      <td data-label="Quantity">24</td>
      <td data-label="Buy">кнопка</td>
    </tr>
    <tr>
      <td data-label="Name">Jill</td>
      <td data-label="Age">26</td>
      <td data-label="Job">Engineer</td>
    </tr>
    <tr>
      <td data-label="Name">Elyse</td>
      <td data-label="Age">24</td>
      <td data-label="Job">Designer</td>
    </tr>
  </tbody>
</table>

{% endblock content %}